services:

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - app

  app:
    build: ./app
    container_name: app
    volumes:
      - ./app/app-logs.log:/app/app-logs.log
    ports:
      - "3000:3000"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.encryptedSavedObjects.encryptionKey=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6
      - xpack.alerting.enabled=true
      - xpack.actions.enabled=true
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.0
    container_name: logstash
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5044:5044"
    depends_on:
      - elasticsearch
    networks:
      - default

  filebeat:
    build: ./filebeat
    container_name: filebeat
    volumes:
      - ./app/app-logs.log:/app/app-logs.log
    depends_on:
      - logstash

  wazuh-indexer:
    image: wazuh/wazuh-indexer:4.7.0
    hostname: wazuh-indexer
    networks:
      default:
        aliases:
          - wazuh.indexer
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9201:9200"
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      - ./certs/root-ca.pem:/etc/wazuh-indexer/certs/root-ca.pem
      - ./certs/wazuh-indexer.pem:/etc/wazuh-indexer/certs/wazuh-indexer.pem
      - ./certs/wazuh-indexer-key.pem:/etc/wazuh-indexer/certs/wazuh-indexer-key.pem

  wazuh-manager:
    image: wazuh/wazuh-manager:4.7.0
    hostname: wazuh-manager
    networks:
      default:
        aliases:
          - wazuh.manager
    environment:
      - WAZUH_PASSWORD=wazuh123
      - INDEXER_URL=https://wazuh-indexer:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=SecretPassword
    ports:
      - "1514:1514/udp"
      - "1515:1515"
      - "55000:55000"
    volumes:
      - wazuh_manager:/var/ossec/data
      - ./certs/root-ca.pem:/var/ossec/etc/root-ca.pem
      - ./certs/wazuh-manager.pem:/var/ossec/etc/wazuh-manager.pem
      - ./certs/wazuh-manager-key.pem:/var/ossec/etc/wazuh-manager-key.pem
    depends_on:
      - wazuh-indexer

  wazuh-dashboard:
    image: wazuh/wazuh-dashboard:4.7.0
    networks:
      default:
        aliases:
          - wazuh.dashboard
    depends_on:
      - wazuh-indexer
      - wazuh-manager
    ports:
      - "5602:5601"
    environment:
      - OPENSEARCH_HOSTS=https://wazuh.indexer:9200
      - WAZUH_API_URL=https://wazuh.manager:55000
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=SecretPassword
    volumes:
      - ./certs/root-ca.pem:/usr/share/wazuh-dashboard/certs/root-ca.pem
      - ./certs/wazuh-dashboard.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard.pem
      - ./certs/wazuh-dashboard-key.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard-key.pem

volumes:
  wazuh_manager:
  wazuh-indexer-data:
